html {
    position: relative;
    min-height: 100%;
    font-family: 'Quicksand', normal;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
    vertical-align: middle;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}
